<script context="module" lang="ts">
	/** @type {import('@sveltejs/kit').ErrorLoad} */
	export function load({ error, status }) {
		return {
			props: {
				title: `${status}: ${error.message}`
			}
		};
	}
</script>

<script>
	export let title;
</script>

<h1>ERROR: {title}</h1>
<a href="/">HOME</a>

<style>
	a {
		position: absolute;
		width: 100vw;
		text-align: center;
		bottom: 0;
	}

	h1 {
		position: absolute;
		width: 100vw;
		top: 50%;
		text-align: center;
		color: rgb(141, 1, 1);
		font-size: xx-large;
	}
</style>
