<script lang="ts">
	import Navbar from '../components/navbar.svelte';
	import Footer from '../components/footer.svelte';
</script>

<Navbar />

<div class="container is-fluid">
	<div class="columns is-variable">
		<div class="column">
			<div class="card textbox">
				<header class="card-header">
					<p class="card-header-title">Objective</p>
				</header>
				<div class="card-content">
					<div class="content">
						We aim to provide users with accurate, up to date information about how many people are in a given area.
					</div>
				</div>
			</div>
			<div class="card textbox">
				<header class="card-header">
					<p class="card-header-title">Our Technology</p>
				</header>
				<div class="card-content">
					<div class="content">
						We collect data about bluetooth devices using user-provided sensors and use that data to estimate the ammount of people near the sensor.
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<Footer />

<style>
	.textbox {
		margin-top: 30px;
		margin-right: 20px;
		margin-bottom: 0;
	}
</style>
