<script lang="ts">
	import Navbar from '../components/navbar.svelte';
	import Footer from '../components/footer.svelte';
	import NodeRegistrar from '../components/nodeRegistrar.svelte';
	import GroupRegistrar from '../components/groupRegistrar.svelte';
	import NodeCard from '../components/nodeCard.svelte';
	import GroupCard from '../components/groupCard.svelte';
	import LoginCard from '../components/loginCard.svelte';
	import InstRegistrar from '../components/institutionRegistrar.svelte';
	import SignupCard from '../components/signupCard.svelte';
	import LoadingScreen from '../components/loadingScreen.svelte';

	import { logInEvent } from '../scripts/user';
	import { onMount } from 'svelte';
	import * as admin from '../scripts/routes/admin';

	let activeInstTab = 0;
	let activeTab = 0; //Stores which tab is currently displayed
	let creationCardShown = false; //if true node/group creation panel is shown
	let adminInterfaceShown = false;
	let instCreationCardShown = false;

	function institutionOfNode(node: { group: any }) {
		for (let i = 0; i < admin.groups.length; i++) {
			if (admin.groups[i].id == node.group) {
				return admin.groups[i].institution;
			}
		}
		return 'ERROR';
	}

	//Update local status var on login event
	logInEvent.subscribe((value) => {
		adminInterfaceShown = value;
	});

	onMount(() => {
		admin.attemptCookieLogin();
	});
</script>

<LoadingScreen />

<Navbar />

{#if adminInterfaceShown}
	<!--Shown if user successfully logged in-->
	<div class="tabs" style="width:75%; margin-left:12.5%; background-color:#0c0c0c">
		<ul style="width: 90%">
			{#if admin.institutions != null}
				{#each Array(admin.institutions.length) as _, i}
					<li class={activeInstTab == i ? 'is-active' : ''}>
						<a
							href="/"
							on:click|preventDefault={() => {
								activeInstTab = i;
							}}>{admin.institutions[i].name}</a
						>
					</li>{/each}
			{/if}
		</ul>
		<button
			class="button is-primary"
			on:click|preventDefault={() => {
				instCreationCardShown = !instCreationCardShown;
			}}>+</button
		>
	</div>

	<div style="position:relative; width 100vw">
		{#if instCreationCardShown}
			<InstRegistrar />
		{/if}
	</div>

	<!--Shown when user is logged in-->
	<div class="container is-fluid">
		<div class="tabs">
			<ul>
				<li class={activeTab == 0 ? 'is-active' : ''}>
					<a href="/" on:click|preventDefault={() => (activeTab = 0)}>Nodes </a>
				</li>
				<li class={activeTab == 1 ? 'is-active' : ''}>
					<a href="/" on:click|preventDefault={() => (activeTab = 1)}>Groups</a>
				</li>
			</ul>
		</div>

		<!--Rendered if nodes  tab is selected-->
		<div class="column is-variable">
			{#if activeTab == 0}
				<button
					class="button is-success"
					on:click={function () {
						creationCardShown = !creationCardShown;
					}}
				>
					<span>Register node {creationCardShown ? '▼' : '▲'}</span>
				</button>

				{#if creationCardShown} <NodeRegistrar /> {/if}

				{#if admin.nodes != null}
					{#each admin.nodes as node}
						{#if institutionOfNode(node) == admin.institutions[activeInstTab].id}
							<NodeCard {node} />
						{/if}
					{/each}
				{/if}
			{/if}

			<!--Rendered if admin.groups tab is selected-->
			{#if activeTab == 1}
				<button
					class="button is-success"
					on:click={function () {
						creationCardShown = !creationCardShown;
					}}
				>
					<span>Add group {creationCardShown ? '▼' : '▲'}</span>
				</button>

				{#if creationCardShown}
					<GroupRegistrar institution={admin.institutions[activeInstTab].id} />
				{/if}

				{#if admin.groups != null}
					{#each admin.groups as group}
						<!--Only display admin.groups that are in the currently selected institution-->
						{#if group.institution == admin.institutions[activeInstTab].id}
							<GroupCard {group} nodes={admin.nodes} />
						{/if}
					{/each}
				{/if}
			{/if}
		</div>
	</div>
{:else}
	<!--Shown when user is not logged in-->
	<div class="container is-fluid">
		<LoginCard />

		<SignupCard />
	</div>
{/if}

<Footer />
