<script lang="ts">
	import Navbar from '../components/navbar.svelte';
	import Footer from '../components/footer.svelte';
	import LoadingScreen from '../components/loadingScreen.svelte';
	import { getInst } from '../scripts/institutions';

	var areas = [];

	var showInitScreen = true;
	var institutionName = '';
	var institutionId = '';

	async function institutionDataSubmit() {
		try {
			const data = await getInst(institutionId, institutionName);
			if (data[0] != 200) {
				alert(data[1].status);
				return;
			}

			areas = data[1];
			showInitScreen = false;
		} catch (e) {
			alert(e);
			return;
		}
	}
</script>

<LoadingScreen />

<Navbar />

<!--Allows input of institution id-->
{#if showInitScreen}
	<div class="container is-fluid">
		<div class="card">
			<header class="card-header">
				<p class="card-header-title">Institution Name or ID</p>
			</header>
			<form class="card-content" on:submit|preventDefault={institutionDataSubmit}>
				<div class="field">
					<div class="control">
						<input
							bind:value={institutionName}
							class="input"
							type="text"
							placeholder="NAME (e.g. HippoCampus)"
						/>
					</div>
				</div>

				<div class="field">
					<div class="control">
						<input
							bind:value={institutionId}
							class="input"
							type="text"
							placeholder="ID (e.g. 2504888f29a8542f1ec1c48728735d81)"
						/>
					</div>
				</div>

				<button class="button is-primary" type="submit">Submit</button>
			</form>
		</div>
	</div>
{/if}

<!--Only shown after institution id is provided-->
{#if !showInitScreen}
	<div class="container is-fluid">
		<div class="columns is-variable is-4">
			{#each areas as area}
				<div class="column">
					<div class="card textbox">
						<header class="card-header">
							<p class="card-header-title">{area.name}</p>
						</header>
						<div class="card-content">
							<div class="content">
								<p>Estimated people: {area.devices * 3}</p>
								<p>Devices: {area.devices}</p>
							</div>
						</div>
					</div>
				</div>
			{/each}
		</div>
	</div>
{/if}

<Footer />

<style>
	.card {
		margin-top: 30px;
		margin-left: 10px;
		margin-right: 10px;
	}
</style>
