<script lang="ts">
	import Navbar from '../components/navbar.svelte';
	import Footer from '../components/footer.svelte';
</script>

<Navbar />

<div class="container is-fluid">
	<p class="title">PRIVACY POLICY</p>
	<p>
		Lorem ipsum dolor, sit amet consectetur adipisicing elit. Unde error perspiciatis repudiandae.
		Sint, in. Distinctio facere veniam commodi aliquam quis. Voluptates quis sint ratione deleniti
		numquam, cum optio illum reprehenderit!
	</p>
</div>

<Footer />

<style>
	p {
		color: white;
	}
</style>
