<!--Footer shown on every page-->

<footer class="footer" style="width:100vw;">
	<div class="content has-text-centered">
		<p>
			<strong>CrowdControl</strong> by
			<a href="https://gitlab.com/nonamewastaken">nonamewastaken</a>.
			<a href="/privacy">privacy</a>
		</p>
	</div>
</footer>

<style>
	footer {
		position: absolute;
		left: 0;
		bottom: 0;
		height: 30px;
		width: 100vw;
		overflow: hidden;
		padding-bottom: 0px;
		padding-top: 0;
	}
</style>
