<!--Menu used to add groups-->
<script lang="ts">
	import { registerGroup } from '../scripts/groups';

	let name: string;
	let status = '';
	export let institution: string;

	async function submitHandler() {
		let resp = await registerGroup(institution, name);
		status = resp[1].status;
		setTimeout(function () {
			status = '';
		}, 1000);
	}
</script>

<div class="card registerCard">
	<p class="card-header card-header-title">Add group</p>
	{#if status == ''}
		<form class="card-content" on:submit|preventDefault={submitHandler}>
			<div class="field">
				<div class="control">
					<input class="input" type="text" placeholder="Group Name" bind:value={name} />
				</div>
			</div>
			<div class="control">
				<button class="button is-link">Submit</button>
			</div>
		</form>
	{/if}
	{#if status != ''}
		<div class="card-content">
			<p style="font-size: 40px">{status}</p>
		</div>
	{/if}
</div>

<style>
	.registerCard {
		margin-top: 30px;
	}
</style>
