<script>
	export let group;
	export let nodes;

	import { deleteGroup } from '../scripts/groups';

	function deleteHandler(id) {
		//TODO: implement confirmation msg
		deleteGroup(id);
	}
</script>

<div class="card">
	<div class="card-header">
		<p class="card-header-title">{group.name}</p>
	</div>

	<div class="card-content">
		<p>ID: {group.id}</p>
		<!--Display all nodes belongign to the group-->
		<p>
			{#if nodes != null}
				NODES: {#each nodes as n}
					{#if n.group == group.id}{n.name + ' '}{/if}
				{/each}
			{:else}
				NODES: No nodes in group
			{/if}
		</p>

		<!--Delete button-->
		<button class="button is-danger is-outlined" on:click={() => deleteHandler(group.id)}>
			<span>Delete</span>
		</button>
	</div>
</div>
