<script lang="ts">
	import { registerInst } from '../scripts/institutions';
	var name: string;
	function submitHandler() {
		registerInst(name);
	}
</script>

<div class="card registerCard">
	<p class="card-header card-header-title">Add Institution</p>

	<form class="card-content" on:submit|preventDefault={submitHandler}>
		<div class="field">
			<div class="control">
				<input class="input" type="text" placeholder="Institution Name" bind:value={name} />
			</div>
		</div>
		<div class="control">
			<button class="button is-link">Submit</button>
		</div>
	</form>
</div>

<style>
	.registerCard {
		position: absolute;
		right: 5vw;
	}
</style>
