<script lang="ts">
	let load = false;
	import { loading } from '../scripts/loadManager';
	loading.subscribe((value) => {
		load = value;
	});
</script>

{#if load}
	<div id="loading">
		<div class="lds-ring">
			<div />
			<div />
			<div />
			<div />
		</div>
	</div>
{/if}

<style>
	#loading {
		position: absolute;
		z-index: 5;
		width: 100vw;
		height: 100vh;
		background-color: #131516;
	}

	.lds-ring {
		position: relative;
		width: 200px;
		height: 200px;
		margin-left: calc(50% - 100px);
		margin-top: calc(50% - 100px);
	}
	.lds-ring div {
		box-sizing: border-box;
		display: block;
		position: absolute;
		width: 200px;
		height: 200px;
		border: 8px solid #fff;
		border-radius: 50%;
		animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
		border-color: #fff transparent transparent transparent;
	}
	.lds-ring div:nth-child(1) {
		animation-delay: -0.45s;
	}
	.lds-ring div:nth-child(2) {
		animation-delay: -0.3s;
	}
	.lds-ring div:nth-child(3) {
		animation-delay: -0.15s;
	}
	@keyframes lds-ring {
		0% {
			transform: rotate(0deg);
		}
		100% {
			transform: rotate(360deg);
		}
	}
</style>
