<script lang="ts">
	import { setData } from '../scripts/routes/admin';
	import { setLoading } from '../scripts/loadManager';
	import { signIn, userId, userToken, setLoginState } from '../scripts/user';

	var loginEmail: string, loginPassword: string; //Bound to login form fields

	async function loginHandler() {
		const res = await signIn(loginEmail, loginPassword);

		if (res != 200) {
			setLoading(false);
			alert(res[1].status);
			document.cookie = `userId=`;
			document.cookie = `userToken=`;
			return;
		}

		// 1 Day = 86400000ms. => Expires in 10 days
		const expires = new Date(Date.now() + 86400000 * 10).toUTCString();
		document.cookie = `userId=${userId}; expires=${expires}`;
		document.cookie = `userToken=${userToken}; expires=${expires}`;

		if (await setData(userId, userToken)) {
			setLoginState(true);
			alert('Error while fetching user data');
		}

		setLoading(false);
	}
</script>

<div class="card">
	<header class="card-header">
		<p class="card-header-title">Login</p>
	</header>
	<form class="card-content" on:submit|preventDefault={loginHandler}>
		<div class="field">
			<label class="label" for="email">Email</label>
			<div class="control">
				<input
					bind:value={loginEmail}
					class="input"
					type="email"
					placeholder="e.g. alex@example.com"
				/>
			</div>
		</div>

		<div class="field">
			<label class="label" for="password">Password</label>
			<div class="control">
				<input bind:value={loginPassword} class="input" type="password" placeholder="********" />
			</div>
		</div>

		<button class="button is-primary" type="submit">Sign in</button>
	</form>
</div>
