<!--Navbar shown on every page-->
<script lang="ts">
	let hamburgerToggled = false;
	function toggleBurger() {
		hamburgerToggled = !hamburgerToggled;
	}
</script>

<nav class="navbar nav" aria-label="main navigation">
	<div class="navbar-brand">
		<!--Logo in navbar-->
		<a class="navbar-item" href="/">
			<img src="/logo-wide.png" alt="logo" />
		</a>

		<!--Hamburger setup (only shown on mobile)-->
		<p
			role="button"
			class="navbar-burger {hamburgerToggled ? 'is-active' : ''}"
			aria-label="menu"
			aria-expanded="false"
			data-target="navbarBasicExample"
			on:click={toggleBurger}
		>
			<span aria-hidden="true" />
			<span aria-hidden="true" />
			<span aria-hidden="true" />
		</p>
	</div>

	<!--Navbar items-->
	<div id="navbarBasicExample" class="navbar-menu nav {hamburgerToggled ? 'is-active' : ''}">
		<div class="navbar-start">
			<a class="navbar-item" href="/"> Home </a>

			<a class="navbar-item" href="about"> About </a>

			<a class="navbar-item" href="admin"> Admin </a>
		</div>
	</div>
</nav>
