<!--Menu used to add nodes-->
<script lang="ts">
	import { registerNode } from '../scripts/nodes';

	let name: string;
	let group: string;
	let status = '';
	let nodeData: { id: any; token: any };
	let showData = false;

	async function submitHandler() {
		let resp = await registerNode(group, name);
		showData = true;
		status = resp[1].status;
		nodeData = resp[1];
		setTimeout(function () {
			status = '';
		}, 1000);
	}
</script>

<div class="card registerCard">
	<p class="card-header card-header-title">Register Node</p>

	{#if status == ''}
		<form class="card-content" on:submit|preventDefault={submitHandler}>
			<div class="field">
				<div class="control">
					<input bind:value={name} class="input" type="text" placeholder="Node Name" />
				</div>
			</div>
			<div class="field">
				<div class="control">
					<input bind:value={group} class="input" type="text" placeholder="Group Id" />
				</div>
			</div>

			<button class="button is-link" type="submit">Submit</button>
		</form>

		{#if showData}
			<div class="card-content">
				<p class="label">
					KEEP THIS DATA PRIVATE! IT CAN BE USED TO INPUT ARBITRARY DATA INTO YOUR ACCOUNT.
				</p>
				<p class="label">Node ID: {nodeData.id}</p>
				<p class="label">Node Token: {nodeData.token}</p>
			</div>
		{/if}
	{:else}
		<div class="card-content">
			<p style="font-size: 40px">{status}</p>
		</div>
	{/if}
</div>

<style>
	.registerCard {
		margin-top: 30px;
	}
</style>
