<script>
	import { deleteNode } from '../scripts/nodes';
	export let node;

	function deleteHandler(id) {
		//TODO: implement confirmation msg
		deleteNode(id);
	}
</script>

<div class="card">
	<div class="card-header">
		<p class="card-header-title">{node.name}</p>
	</div>
	<div class="card-content">
		<p>ID: {node.id}</p>
		<p>DEVICES: {node.devices}</p>

		<!--Delete button-->
		<button class="button is-danger is-outlined" on:click={() => deleteHandler(node.id)}>
			<span>Delete</span>
		</button>
	</div>
</div>
