<script lang="ts">
	import * as user from '../scripts/user';
	import { setLoading } from '../scripts/loadManager';

	//SIGNUP HANDLING
	let signupUsername: string,
		signupEmail: string,
		signupPassword: string,
		signupPasswordVerify: string; //Bound to signup form fields

	async function signupHandler(): Promise<void> {
		setLoading(true);

		if (signupPassword == undefined || signupEmail == undefined || signupUsername == undefined) {
			setLoading(false);
			alert('Please fill out all fields');
			return;
		}

		if (signupPassword != signupPasswordVerify) {
			setLoading(false);
			alert('Passwords do not match');
			return;
		}

		//Imported from ../scripts/signUp.ts
		const res = await user.signUp(signupUsername, signupEmail, signupPassword);
		if (res[0] != 200) {
			setLoading(false);
			alert(res[1]);
			return;
		}

		alert('Account successfully created');
		setLoading(false);
	}
</script>

<div class="card">
	<header class="card-header">
		<p class="card-header-title">Signup</p>
	</header>
	<form class="card-content" on:submit|preventDefault={signupHandler}>
		<div class="field">
			<label class="label" for="email">Username</label>
			<div class="control">
				<input bind:value={signupUsername} class="input" type="text" placeholder="e.g. user123" />
			</div>
		</div>

		<div class="field">
			<label class="label" for="email">Email</label>
			<div class="control">
				<input
					bind:value={signupEmail}
					class="input"
					type="email"
					placeholder="e.g. alex@example.com"
				/>
			</div>
		</div>

		<div class="field">
			<label class="label" for="password">Password</label>
			<div class="control">
				<input bind:value={signupPassword} class="input" type="password" placeholder="********" />
			</div>
		</div>

		<div class="field">
			<label class="label" for="password">Verify password</label>
			<div class="control">
				<input
					bind:value={signupPasswordVerify}
					class="input"
					type="password"
					placeholder="********"
				/>
			</div>
		</div>

		<button class="button is-primary" type="submit">Sign up</button>
	</form>
</div>
