@charset "utf-8";
@import '../../node_modules/bulma/sass/base/_all.sass';
@import '../../node_modules/bulma/sass/utilities/_all.sass';
@import '../../node_modules/bulma/sass/grid/columns.sass';
@import '../../node_modules/bulma/sass/layout/footer.sass';
@import '../../node_modules/bulma/sass/components/card.sass';
@import '../../node_modules/bulma/sass/components/navbar.sass';
@import '../../node_modules/bulma/sass/components/tabs.sass';
@import '../../node_modules/bulma/sass/form/_all.sass';
@import '../../node_modules/bulma/sass/elements/_all.sass';
@import '../../node_modules/bulma/sass/helpers/typography.sass';

$background: $grey-dark;

html {
	font-family: monospace;
	background-color: #131516;
}

body {
	overflow: auto;
	height: 100vh;
	width: 100vw;
}

.card {
	color: white;
	background: #363636;
	margin-top: 30px;
	margin-bottom: 0;
}

.card-header {
	color: white;
	background: #222222;
}

p,
strong,
a,
.card-header-title {
	color: white;
}

.footer {
	background: #000000;
	color: white;
}

.nav {
	background: #0c0c0c;
	color: #ff0b56;
	width: 100vw;
	overflow: hidden;
}

.nav a,
.nav p {
	color: #ff0b56;
}

.input {
	color: white;
	border-color: #222222;
	background-color: #222222;
}

.input::placeholder {
	/* Chrome, Firefox, Opera, Safari 10.1+ */
	color: #a0a0a0;
	opacity: 1; /* Firefox */
}

.label {
	color: white;
}

.registerCard {
	outline: 1px;
	outline-color: #00d1b2;
	outline-style: solid;
	z-index: 9;
	position: absolute;
}
